.Column {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  opacity: 0.9;
}
.label {
  padding: 1rem 1rem;
  flex: 2;
  text-align: right;
}
.time {
  padding: 1rem 1rem;
  flex: 2;
  text-align: left;
}
.parent {
  display: flex;
  justify-content: center;
}
/*input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */ /* Specific width is required for Firefox. 
  width: 70%; 
  height: 30px;
  background: rgb(238, 238, 238);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 30px;
  background: rgb(71, 28, 28);
  width: 1%;
}*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"] {
    overflow: hidden;
    -webkit-appearance: none;
    width: 70%;
    height: 30px;
    background: rgb(238, 238, 238);
  }

  input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    color: #29f9dd;
  }

  input[type="range"]::-webkit-slider-thumb {
    width: 1%;
    -webkit-appearance: none;
    height: 10px;
    cursor: ew-resize;
    background: #43e5f7;
    box-shadow: -80px 0 0 80px #43e5f7;
  }
}
