@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  opacity: 0.9;
}
